.main {
  background: #282629;
  padding: 30px;
  margin: 50px auto;
  max-width: 500px;
  border-radius: 5px;
  box-shadow: 0 0 10px #a263f5;
}

.main h1 {
  font-size: 20px;
  text-align: center;
}



