* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #3a3a3a;
  color: #333;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}